<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing ad</h1>

  <%= render "form", ad: @ad %>

  <%= link_to "Show this ad", @ad, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to ads", ads_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
